.auth {
  text-align: center;
}

.auth-container {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 53px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-bottom: 20px;
}

.auth-heading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 70px;
  background: rgb(176, 38, 255);
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  display: block;
  margin: 15px auto;
}

.auth-button {
  min-width: 30%;
  display: block;
}