.showcase {
  text-align: center;
  width: 100%;
  min-height: 65vh;
  color: white;
  margin: auto;
  background-image: url('../../assets/showcase-img.jpg');
  background-position: center 65%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.showcase-color {
  background-color: rgb(176, 38, 255, 0.5);
  height: 65vh;
}

.showcase h1 {
  font-size: 4rem;
  font-weight: bolder;
  padding-top: 200px;
  margin: auto;
}

.showcase p {
  font-size: 2rem;
}

.blogs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
